/* Empty file for template. Remember to edit only this file and not the HTML file */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


#zen-intro.intro {
    max-width: 40%;
    align-self: center;
    margin-left: 34%;
    background-color: blanchedalmond;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

#zen-supporting.main.supporting {
    max-width: 35%;
    align-self: center;
    margin-left: 34%;
    margin-top: 0%;
    padding-top: 0%;
    justify-content: center;
    background-image: url(Screenshot_2024-10-29_100132-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:160% 160%;
    padding: 3%;
    background-position: center;
   padding-bottom: 0%;
   margin-bottom: 0%;
   background-clip: border-box;
   height: auto;
   overflow: visible;
}



.page-wrapper {
 
    background-color: bisque;
    background-image: url(empty-sea-beach-background_74190-313.avif);
    background-repeat: no-repeat;
    background-size: 160%;
    flex-direction: row;

}

.wrapper {
    display: inline-block;

}

* {
    font-family: "Caveat";
   
    font-style: normal;
}

.sidebar {
    display: flex;
    align-self: auto;
    background-image: url(krusty-removebg-preview.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 10%;
    padding-top: 10%;
    position: absolute;
    top: 40%;
    margin-left: 18%;
    background-color: #D4B37F;
    padding-right: 3%;
    padding-bottom: 5%;
}

a:link {
    color: green;
}

a:visited {
    color: lightgreen;
}

a:active {

}



a:hover {
    color: darkgreen;
}


p.intro{
    border: white;
}

p::after{
    content: "*";
}

p::before{
    content: "*";
}

p::first-line{
color:brown ;
}

p:nth-child(2){
    color: blanchedalmond;
}

:root{
    font-size: large;
}

h3::selection{
    background-color: white;
    border: 1.25rem solid white
}

p:only-child{
    color: blue;
}

p:last-child{
    color: aliceblue;
}
p:first-child{
    color: blueviolet;
}

p:only-of-type{
    text-indent: 25px;
}

p:nth-of-type(2){
text-indent: 25px;
}

:not(*){
    text-indent: 300000px;
}

h1:empty{
    color: white;
}

div,p{
    text-indent: 10px;
}

div p{
text-indent: 10px;
}

div > p{
    text-indent: 10px;
}

div + p{
    text-indent: 10px;
}

p ~ h3{
    color: purple;
}

p::first-letter{
    color: purple;
}

p:nth-last-child(3){
    color: lawngreen;
}

h1:nth-last-of-type(1){
    color: lightsalmon;
}